/* Дополнительные стили для кастомизации */

/* Скроллбары */
QScrollBar:vertical {
    border: none;
    background: #252526;
    width: 10px;
    margin: 0px;
}

QScrollBar::handle:vertical {
    background: #424242;
    min-height: 20px;
    border-radius: 5px;
}

QScrollBar::handle:vertical:hover {
    background: #4a4a4a;
}

/* Прогресс-бар */
QProgressBar {
    border: 1px solid #3e3e42;
    border-radius: 3px;
    text-align: center;
    color: white;
}

QProgressBar::chunk {
    background-color: #007acc;
    border-radius: 3px;
}

/* Выпадающие списки */
QComboBox {
    background-color: #2d2d30;
    border: 1px solid #3e3e42;
    border-radius: 3px;
    padding: 5px;
    color: white;
    min-height: 25px;
}

QComboBox:hover {
    border: 1px solid #007acc;
}

QComboBox::drop-down {
    border: none;
}

QComboBox::down-arrow {
    image: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-right: 10px;
}